<%= form_for @friendship, html: { role: 'form' } do |f| %>
  <%= render 'form_messages', object: @friendship %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
